@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body {
  @apply text-gray-500;
}

table,
th,
td {
  @apply border px-3 py-2;
}

.pasmo-block {
  @apply w-[500px] border border-[#ED77AC] rounded;
}

.pasmo-header {
  @apply px-4 py-2 bg-[#ED77AC] font-bold text-white;
}

.pasmo-body {
  @apply p-3;
}

.pasmo-button {
  @apply px-3 py-1 border border-[#ED77AC] bg-white hover:bg-gray-50 text-[#ED77AC] font-bold rounded;
}

.pasmo-button-small {
  @apply px-2 border border-[#ED77AC] bg-white hover:bg-gray-50 text-xs font-thin text-[#ED77AC] rounded;
}